
@import "../../vars.css";

.container{
    margin-top: 3rem;
}
.skills{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.bounce{
    width: 9rem;
    gap: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight:900;
}
.S, .k, .i, .l, .s{
   color: var(--color-highlighted);
   text-shadow: 0px 5px  var( --color-textshadow), 0 5px var( --color-textshadow), 0 5px var( --color-textshadow);
}

@keyframes bounce {
    0%{
        transform: scale(1.1) translateY(0);
        filter: drop-shadow(0px 0px 0px var(--color-textshadow));
    }
    10%{
        transform: scale(1.1,.9) translateY(0);
    }
    30%{
        transform: scale(.9,1.1) translateY(-55px);
    }
    50%{
        transform: scale(1.05,.95) translateY(0);
        filter: drop-shadow(0px 0px 5px var(--color-textshadow));
    }
    58%{
        transform: scale(1.1) translateY(-7px)
    }
    65%{
        transform: scale(1.1) translateY(0)
    }
    100%{
        transform: scale(1.1) translateY(0);
        filter: drop-shadow(0px 0px -0px var(--color-textshadow));
    }
}

.bounce:hover .S{
animation: bounce 1.5s ease infinite;
}
.bounce:hover .k{
    animation: bounce 1.5s ease infinite 0.1s;
}
.bounce:hover .i{
    animation: bounce 1.5s ease infinite 0.2s;

}
.bounce:hover .l{
    animation: bounce 1.5s ease infinite 0.3s;

}
.bounce:hover .s{
    animation: bounce 1.5s ease infinite 0.5s;

}