@import "../../vars.css";

.about{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.bounce{
    width: 9rem;
    gap: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight:900;
}
.a, .b, .o, .u, .t{
   color: var(--color-highlighted );
   text-shadow: 0px 5px  var( --color-textshadow), 0 5px var( --color-textshadow), 0 5px var( --color-textshadow);
}

@keyframes bounce {
    0%{
        transform: scale(1.1) translateY(0);
        /* filter: drop-shadow(0px 0px 0px var(--color-textshadow)); */
    }
    10%{
        transform: scale(1.1,.9) translateY(0);
    }
    30%{
        transform: scale(.9,1.1) translateY(-55px);
    }
    50%{
        transform: scale(1.05,.95) translateY(0);
        /* filter: drop-shadow(0px 0px 5px var(--color-textshadow)); */
    }
    58%{
        transform: scale(1.1) translateY(-7px)
    }
    65%{
        transform: scale(1.1) translateY(0)
    }
    100%{
        transform: scale(1.1) translateY(0);
        /* filter: drop-shadow(0px 0px -0px var(--color-textshadow)); */
    }
}

.bounce:hover .a{
animation: bounce 1.5s ease infinite;
}
.bounce:hover .b{
    animation: bounce 1.5s ease infinite 0.1s;
}
.bounce:hover .o{
    animation: bounce 1.5s ease infinite 0.2s;

}
.bounce:hover .u{
    animation: bounce 1.5s ease infinite 0.3s;

}
.bounce:hover .t{
    animation: bounce 1.5s ease infinite 0.4s;

}

.container{
   margin-top: 5rem;
   position: relative;
   background-color: var( --color-dark);
   border-radius: 3rem;
   border-style:dashed;
   border-color:var(--color-primary);
   box-shadow: 0px 0px 5px var(--color-primary), 0px 0px 5px var(--color-primary) inset;
   opacity: 0.7;
   box-sizing: border-box;
   max-width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   z-index: 1;
}
.aboutimg{
    width: 40%;
    animation: aboutimgshadow 3s infinite ease;
}
@keyframes aboutimgshadow {
    0%{
    filter: drop-shadow(0px 0px 0px var(--color-primary));
    }
    50%{
    filter: drop-shadow(0px 0px 3px var(--color-primary));
    }
   100%{
    filter: drop-shadow(0px 0px -0px var(--color-primary));
   }
}
.content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.aboutitems{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aboutitems li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: .5rem;
    border-radius: 1rem 0rem;
    background: linear-gradient(90deg,rgb(124, 144, 112), rgb(48,77,48));
    background-size:0% 0%;
    background-repeat: no-repeat;
    transition: 0.4s;

}
.aboutitems li:hover{
    background-size:100% 100%;
}
.aboutitems li img{
    width: 10%;
    height: 10%;
    filter:drop-shadow(0px 0px 4px var(--color-primary)) invert(95%) sepia(99%) saturate(23%) hue-rotate(126deg) brightness(106%) contrast(100%);
}

@media screen and (max-width:830px){
    .aboutimg{
        display: none;
    }
    .aboutitems{
        width: 100%;
    }
}