@import  "../../vars.css";

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom:1rem;
    margin: 0 10%;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    z-index: 100;
    transition: transform .5s ease;
}
.title:hover{
    transform: scale(1.2);
    filter: drop-shadow(1px 1px 2px #AAC8A7);
}
.menu{
   display: flex;
}

.menuitems{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.menuitems a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-text);
}

.menuitems a:hover{
    /* filter: drop-shadow(0 0 0.75rem white); */
    filter: drop-shadow(1px 1px 2px #AAC8A7);
}
.menuitems a img{
    height: 1.5rem;
    transition: transform .5s ease;
    filter: invert(95%) sepia(99%) saturate(23%) hue-rotate(126deg) brightness(106%) contrast(100%);
}
.menuitems a:hover img{
    transform: scale(1.2);
}

.menuBtn{
    display: none;
}

@media screen and (max-width:830px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        position:absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        z-index: 3;
    }
    .menuBtn{
        display: block;
        height: 1.75rem;
        background-color: var(--color-bg);
        cursor: pointer;
    }
    .menuitems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        padding: 1rem 2rem;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
        background-color: var(--color-secondary);
        background: linear-gradient(90deg,  rgb(48,77,48), rgb(124, 144, 112));
    }
    .menuOpen{
        display: flex;
        z-index: 1;
    }
}